<div id="app">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
      <navbar></navbar>
    </div>
    <div class="col-md-10">
      <router-view></router-view>
    </div>
  </div>
  </div>
</div>

<%= javascript_pack_tag 'author' %>
